Home Assistant/Node Red/flows/outdoor_lights.json
[
    {
        "id": "24ea6455.e102dc",
        "type": "tab",
        "label": "Utebelysning",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b8f11cc.aa96ee",
        "type": "light-scheduler",
        "z": "24ea6455.e102dc",
        "settings": "edfcd844.73eb88",
        "events": "[{\"start\":{\"dow\":1,\"mod\":360},\"end\":{\"dow\":1,\"mod\":1380}},{\"start\":{\"dow\":2,\"mod\":360},\"end\":{\"dow\":2,\"mod\":1380}},{\"start\":{\"dow\":3,\"mod\":360},\"end\":{\"dow\":3,\"mod\":1380}},{\"start\":{\"dow\":4,\"mod\":360},\"end\":{\"dow\":4,\"mod\":1380}},{\"start\":{\"dow\":5,\"mod\":360},\"end\":{\"dow\":5,\"mod\":1380}},{\"start\":{\"dow\":6,\"mod\":480},\"end\":{\"dow\":6,\"mod\":1380}},{\"start\":{\"dow\":0,\"mod\":480},\"end\":{\"dow\":0,\"mod\":1380}}]",
        "topic": "",
        "name": "Utebelysning Timer",
        "onPayload": "ON",
        "onPayloadType": "str",
        "offPayload": "OFF",
        "offPayloadType": "str",
        "onlyWhenDark": true,
        "scheduleRndMax": 0,
        "sunElevationThreshold": 6,
        "sunShowElevationInStatus": false,
        "outputfreq": "output.statechange.startup",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "2319e8fa.b06e38"
            ]
        ]
    },
    {
        "id": "9e1d4d14.8478e",
        "type": "server-state-changed",
        "z": "24ea6455.e102dc",
        "name": "Garagedörr",
        "server": "5887bcdf.dc7444",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.heiman_technology_co_ltd_door_sensor_hs1ds_z_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "efce8de8.7cfb3"
            ]
        ]
    },
    {
        "id": "662f6201.67484c",
        "type": "server-state-changed",
        "z": "24ea6455.e102dc",
        "name": "Garageport",
        "server": "5887bcdf.dc7444",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.fibaro_system_fgdw002_door_opening_sensor_2_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "efce8de8.7cfb3"
            ]
        ]
    },
    {
        "id": "efc380c7.ed297",
        "type": "api-call-service",
        "z": "24ea6455.e102dc",
        "name": "",
        "server": "5887bcdf.dc7444",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.utebelysning",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1030,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9accdf81.1cf78",
        "type": "api-call-service",
        "z": "24ea6455.e102dc",
        "name": "",
        "server": "5887bcdf.dc7444",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.utebelysning",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1030,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2319e8fa.b06e38",
        "type": "switch",
        "z": "24ea6455.e102dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 80,
        "wires": [
            [
                "efc380c7.ed297"
            ],
            [
                "9accdf81.1cf78"
            ]
        ]
    },
    {
        "id": "efce8de8.7cfb3",
        "type": "api-current-state",
        "z": "24ea6455.e102dc",
        "name": "",
        "server": "5887bcdf.dc7444",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.utebelysning",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "fc806107.1d2b88",
                "97c9d515.b2f4d8"
            ],
            []
        ]
    },
    {
        "id": "dd80cf2e.2e4ed",
        "type": "server-state-changed",
        "z": "24ea6455.e102dc",
        "name": "Ytterdörr",
        "server": "5887bcdf.dc7444",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.telldus_tzdw_100_magnet_switch_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "efce8de8.7cfb3"
            ]
        ]
    },
    {
        "id": "97c9d515.b2f4d8",
        "type": "delay",
        "z": "24ea6455.e102dc",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "c28c9b5b.46ac58"
            ]
        ]
    },
    {
        "id": "57a7ba83.283fdc",
        "type": "inject",
        "z": "24ea6455.e102dc",
        "name": "",
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "b8f11cc.aa96ee"
            ]
        ]
    },
    {
        "id": "c28c9b5b.46ac58",
        "type": "change",
        "z": "24ea6455.e102dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "b8f11cc.aa96ee"
            ]
        ]
    },
    {
        "id": "fc806107.1d2b88",
        "type": "change",
        "z": "24ea6455.e102dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "b8f11cc.aa96ee"
            ]
        ]
    },
    {
        "id": "edfcd844.73eb88",
        "type": "light-scheduler-settings",
        "z": "",
        "name": "Stenstorp",
        "latitude": "57",
        "longitude": "12"
    },
    {
        "id": "5887bcdf.dc7444",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    }
]
